<!-- <div class="container" *ngIf="productCard">
    <div class="nombre" >
        {{productCard.nameProduct}}
    </div>
    <div class="categoria">
        {{productCard.category}}
    </div>
    <div class="price"> 
       <div class="price-unit">
            {{productCard.priceUnit}}
        </div> 
        <div class="price-total">
            <div class="total">{{priceTotal}}</div>
            <div class="button-alter">
                <button class="lower" (click)="decrementUnit()" [disabled]="isDisabled">
                    -
                </button>
                <div class="unit">
                     {{num}} 
                    
                </div>
                <button class="add" (click)="increaseUnit()">+</button>
            </div>
            
        </div>
    </div> 
</div>-->



<div class="container" >
    <div class="nombre" >
        {{data().nameProduct}}
    </div>
    <div class="categoria">
        {{data().category}}
    </div>
    <div class="price"> 
       <div class="price-unit">
            {{data().priceUnit}}
        </div> 
        <div class="price-total">
            <div class="total">{{priceTotal}}</div>
            <div class="button-alter">
                <button class="lower" (click)="decrementUnit()" [disabled]="isDisabled">
                    -
                </button>
                <div class="unit">
                     {{num}} 
                    
                </div>
                <button class="add" (click)="increaseUnit()">+</button>
            </div>
            
        </div>
    </div> 
</div>