.container{
    display: flex;
width: 230px;
height: 200px;
padding: 25px;
flex-direction: column;
align-items: flex-start;
gap: 15px;
border: 1px solid #CCC7C7;
background: #FFF;
border-radius: 10px;
}
.nombre{
    display: flex;

align-items: flex-start;
gap: 10px;
align-self: stretch;
}
.categoria{
    display: flex;

align-items: center;
gap: 10px;
align-self: stretch;
}
.price{
    display: flex;
padding: 10px;
align-items: flex-start;
gap: 10px;
flex: 1 0 0;
align-self: stretch;
font-size: 12px;
}
.price .price-unit{
    display: flex;
width: 60px;
flex-direction: column;
justify-content: center;
align-items: center;
align-self: stretch;
gap: 10px;
border-right: 1px solid black;
}
.price .price-total{
    display: flex;
    padding: 10px 5px 1px 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
}
.price .price-total .total{
    width: 100%;
    text-align: center;
}
.price .button-alter{
    display: flex;
padding: 10px 0px;
justify-content: center;
align-items: center;

gap: 15px;


}